<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <properties resource="jdbc.properties"/>

    <environments default="powernode">
        <environment id="powernode">
            <transactionManager type="MANAGED"/>
            <dataSource type="POOLED">
                <property name="driver" value="com.mysql.cj.jdbc.Driver"/>
                <property name="url" value="jdbc:mysql://localhost:3306/powernode?serverTimezone=UTC"/>
                <property name="username" value="root"/>
                <property name="password" value="20160910yzy"/>
            </dataSource>
        </environment>

        <environment id="company">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="com.mysql.cj.jdbc.Driver"/>
                <property name="url" value="jdbc:mysql://localhost:3306/company?serverTimezone=UTC"/>
                <property name="username" value="root"/>
                <property name="password" value="20160910yzy"/>
            </dataSource>
        </environment>

    </environments>
    <mappers>
        <mapper resource="CarMapper1.xml"/>
        <mapper resource="CarMapper2.xml"/>
        <mapper resource="CarMapper3.xml"/>
        <mapper resource="CarMapper4.xml"/>
    </mappers>
</configuration>