<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <!--bean的生命周期-->

    <!--依赖注入bean并且设置其初始化方法和销毁方法-->
    <bean id="user" class="com.example.spring.pojo.User" init-method="initMethod" destroy-method="destroyMethod">
        <property name="id" value="1"/>
        <property name="username" value="admin"/>
        <property name="password" value="123456"/>
        <property name="age" value="23"/>
    </bean>

    <bean id="myBeanPostProcessor" class="com.example.spring.process.MyBeanPostProcessor" >

    </bean>
</beans>